<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="./orders-stub-beans.xml" />
	
	<bean id="biller" class="it.company.salestaxes.domain.billing.Biller">
		<property name="taxCalculator" ref="taxCalculator"></property>
	</bean>

	<bean id="taxCalculator" class="it.company.salestaxes.taxcalculations.TaxCalculator"></bean>
</beans>
